<!DOCTYPE html>
    <html lang=en>
        <head>
                <title></title>
        </head>
        <body>
            <main>
                <div>
                    <h1>{{ todolist.name }}</h1>
                    <p>
                        <a href="{% url 'todo_list_update' todolist.id %}">Edit</a>
                    </p>
                    <p>
                    <a href="{% url 'todo_list_delete' todolist.id %}">Delete</a>
                    </p>
                    <h2>Tasks</h2>
                    <table>
                        <thead>
                            <td>Task</td>
                            <td>Due Date</td>
                        </thead>
                        <tbody>
                                {% for task in todolist.items.all %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'todo_item_update' task.id %}">{{ task.task }}</a>
                                        </td>
                                        <td>
                                            {{ task.due_date }}
                                        </td>
                                    </tr>
                                {% endfor %}
                        </tbody>
                    </table>
                </div>
            </main>
        </body>
    </html>
