<!DOCTYPE html>
<html lang=en>
    <head>
            <title></title>
    </head>
    <body>
        <main>
            <div>
                <h1>My Lists</h1>
                <h3>
                    <a href="{% url 'todo_list_create' %}">Create a new list</a>
                </h3>
                <h3>
                    <a href="{% url 'todo_item_create' %}">Create a new item</a>
                </h3>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of Items</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for list in todo_list %}
                            <tr>
                                <td>
                                    <a href="{% url 'todo_list_detail' list.id %}">{{ list.name }}</a>
                                </td>
                                <td>
                                    {{ list.items.all|length }}
                            </tr>
                        {% endfor %}
                    </tbody>
            </div>
        </main>
    </body>
</html>
